* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 18px;
    font-family: 'Capriola', sans-serif;
    line-height: 1.5;
}

body {
    background: #3C3C3C;
    min-width: 360px;
}

._disable-pointer-events {
    pointer-events: none !important;
}

.amazing-menu {
    overflow-x: hidden;
}

.amazing-menu.-scrolled .menu-item {
    -webkit-transform: perspective(40rem) translateY(-.5rem) scaleX(.95) rotateX(-40deg);
            transform: perspective(40rem) translateY(-.5rem) scaleX(.95) rotateX(-40deg);
}

.menu-item {
    position: relative;
    width: 100%;
    color: #FBFBFB;
    -webkit-transition: all 210ms cubic-bezier(.8, .1, .2, .9);
    transition: all 210ms cubic-bezier(.8, .1, .2, .9);
}

.menu-item:nth-of-type(5n + 1) {
    background: #3E989B;
}

.menu-item:nth-of-type(5n + 2) {
    background: #6DB465;
}

.menu-item:nth-of-type(5n + 3) {
    background: #F2C14E;
}

.menu-item:nth-of-type(5n + 4) {
    background: #F78154;
}

.menu-item:nth-of-type(5n    ) {
    background: #C87694;
}

.menu-item:hover,
    .menu-item:focus {
    z-index: 1;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    box-shadow: 0 0 1rem rgba(0, 0, 0, .5);
    cursor: pointer;
}

.menu-item .container {
    margin: 0 auto;
    width: 100%;
    max-width: 540px;
    max-width: 30rem;
    padding: 36px 18px 18px;
    padding: 2rem 1rem 1rem;
}

.menu-item .container:after {
    display: table;
    content: '';
    clear: both;
}

.menu-item .icon {
    float: left;
    font-size: 36px;
    font-size: 2rem;
    margin-top: -9px;
    margin-top: -.5rem;
    margin-right: 9px;
    margin-right: .5rem;
}

.menu-item .title {
    float: left;
    text-transform: uppercase;
    font-weight: 600;
}

.menu-item .rating {
    float: right;
}

.menu-item .rating.-r1 .stars span:nth-of-type(2),
                .menu-item .rating.-r1 .stars span:nth-of-type(3),
                .menu-item .rating.-r1 .stars span:nth-of-type(4),
                .menu-item .rating.-r1 .stars span:nth-of-type(5){
    opacity: .5;
}

.menu-item .rating.-r2 .stars span:nth-of-type(3),
                .menu-item .rating.-r2 .stars span:nth-of-type(4),
                .menu-item .rating.-r2 .stars span:nth-of-type(5){
    opacity: .5;
}

.menu-item .rating.-r3 .stars span:nth-of-type(4),
                .menu-item .rating.-r3 .stars span:nth-of-type(5){
    opacity: .5;
}

.menu-item .rating.-r4 .stars span:nth-of-type(5){
    opacity: .5;
}

.menu-item .rating.-r5 {}

.menu-item .rating .text {
    font-size: 12.6px;
    font-size: .7rem;
    opacity: .8;
}

.menu-item .arrow {
    float: right;
    margin-left: 9px;
    margin-left: .5rem;
}
